/* Workflow.css */
.main-content {
  width: 100%;
  flex-grow: 0.5rem;
  transition: margin 0.3s ease;
  overflow: auto;
}

@media (max-width: 600px) {
  .main-content {
    margin-inline-start: 0;
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  /* sm */
  .main-content {
    margin-inline-start: 64px;
  }
}

@media (min-width: 961px) {
  .main-content.open-sidebar {
    margin-inline-start: 240px;
  }

  .main-content.closed-sidebar {
    margin-inline-start: 64px;
  }
}

.layoutContainer {
  height: 100%;
  display: flex;
}
