.loginContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  background: var(--primaryBackground);

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 500px;
    overflow: auto;
    padding: 32px;
    padding-bottom: 50px;
    margin: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 0px white;

    > .loginField {
      grid-template-columns: 9fr;
      width: 100%;
    }
  }

  .loginLabelWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 6px;

    > p {
      font-weight: 600;
      font-size: 45px;
      color: var(--primaryBackground);
    }
  }

  @media (max-width: 599px) {
    > div {
      width: calc(100% - 40px);
      margin: 20px;
    }
    .loginLabelWrapper {
      > p {
        font-weight: 600;
        font-size: 36px;
        text-wrap: nowrap;
      }

      > img {
        width: 120px;
      }
    }
  }

  @media (max-width: 374px) {
    > div {
      width: calc(100% - 20px);
      padding: 16px;
      padding-bottom: 28px;
      margin: 10px;
    }

    .loginLabelWrapper {
      > p {
        font-weight: 600;
        font-size: 30px;
      }

      > img {
        width: 100px;
      }
    }
  }
}
