@import url("../style-variables.css");
.workflowContainer {
  width: 100%;
}

.workflowTabBox {
  display: "flex";
  justify-content: "flex-start";
  padding: 1rem;
  padding-bottom: 0;
}

.workflowTabContent {
  padding: 1.5rem;
  padding-bottom: 0;
}

.workflowTabs {
  position: static;
  width: 100%;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.12);
}

.workflowDetailWrapper {
  height: 100%;

  & .workflowBtnWrapper {
    padding: 10px 15px;
    margin-right: 24px;
    position: fixed;
    bottom: 15px;
    width: -webkit-fill-available;
  }
  & .workflowBtnWrapperRtl {
    padding: 10px 15px;
    position: fixed;
    bottom: 15px;
    width: -webkit-fill-available;
    margin-left: 24px;
  }
}
.workflowDetailWrapper > div:first-child {
  overflow-y: auto;
}
.workflowDetailWrapper > div:last-child {
  z-index: 10;
}

@media (max-width: 900px) {
  .actionBtn {
    width: -webkit-fill-available;
  }
  .workflowDetailWrapper > div:first-child {
    max-height: calc(100% - 280px);
    min-height: 300px;
  }
}
