.workflowFormWrapper {
  margin: 24px 24px 0 24px;
  height: calc(100% - 88px);
}

.addNoteBtn {
  margin-bottom: 1rem !important;
}

.addNoteBtnWrapper {
  display: flex;
  justify-content: flex-end;

  & > div {
    display: flex;
    justify-content: end;
  }
}

.workflowForm {
  padding: 20px;
}

@media (max-width: 600px) {
  .workflowForm {
    overflow-y: auto;
    /* max-height: 325px; */
  }
}

@media (max-width: 900px) {
  .addNoteBtn {
    margin-bottom: 0.5rem !important;
    margin-left: 0 !important;
  }
  .addNoteBtnWrapper {
    margin-left: 0;
  }
}
