.workflowFormWrapper {
  margin: 24px 24px 0 24px;
  height: calc(100% - 88px);
}

.addNoteBtn {
  margin-bottom: 1rem !important;
}

.addNoteBtnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;

  > div {
    display: flex;
    justify-content: end;
  }
}

.workflowForm {
  padding: 20px;
}

@media (max-width: 600px) {
  .workflowForm {
    overflow-y: auto;
    padding: 16px;

    .responsiveGrid {
      padding: 0;
    }
  }

  .workflowFormWrapper {
    margin: 15px 15px 0 15px;
  }
}

@media (max-width: 899px) {
  .addNoteBtn {
    margin-bottom: 0.5rem !important;
    margin-left: 0 !important;
  }
  .addNoteBtnWrapper {
    margin-left: 0;
    margin-bottom: 5px;
  }
}
