@import url("../../style-variables.css");
.headerAppBar {
  justify-content: space-between;
  background-color: var(--primaryBackground);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerBox {
  display: flex;
  align-items: center;
}

.headerLogo {
  height: "40px";
  margin-inline-start: "8px";
}

.headerLanguageSelect {
  cursor: pointer;
  transition: 0.3s;
  margin-inline-end: 0.25rem !important;
  border: 1px solid #d7ccc8;
}

.headerLanguageIcon {
  color: var(--textLight);
}

.headerLanguageText {
  margin-inline-start: 0.5rem !important;
  color: var(--textLight);
}

.headerLanguageSelect:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.headerLanguageSelect.MuiOutlinedInput-root:hover fieldset {
  border-color: gray;
}

.headerLanguageSelect.MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: gray;
}

.headerLanguageSelect.MuiInputLabel-root {
  font-weight: normal;
}

.headerLanguageSelect.MuiInputLabel-root.Mui-focused {
  color: gray;
  font-weight: bold;
}

.headerUserInfo {
  white-space: nowrap;
}

@media (max-width: 600px) {
  .headerAppBar {
    flex-direction: row;
    justify-content: space-between;
    height: 64px;
  }

  .headerLanguageSelect {
    margin: 0.5rem 0;
  }

  .headerUserInfo {
    display: none;
  }
}
