@import url("../../style-variables.css");
.pendingTabPaper {
  width: 100%;
  max-height: 100%;
  border-radius: 0.4rem !important;
  overflow: auto;

  &.extraRecord {
    max-height: calc(100% - 58px);
  }
}

.pendingTabTableContainer {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 230px);
  overflow-x: auto;

  &.extraRecord {
    max-height: calc(100vh - 288px);
  }

  @media (max-width: 600px) {
    max-height: calc(100vh - 233px);

    &.extraRecord {
      max-height: calc(100vh - 291px);
    }
  }

  .MuiTableBody-root {
    max-height: calc(100vh - 335px);

    &.extraRecord {
      max-height: calc(100vh - 393px);
    }
  }

  .pendingTable {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    max-height: calc(100vh - 230px);
    overflow: hidden;

    &.extraRecord {
      max-height: calc(100vh - 288px);
    }
  }

  .pendingTable tbody {
    display: block;
    max-height: calc(100vh - 318px);
    overflow-y: auto;
    overflow-x: hidden;

    &.extraRecord {
      max-height: calc(100vh - 376px);
    }

    @media (min-width: "1200px") {
      max-height: calc(100vh - 288px);

      &.extraRecord {
        max-height: calc(100vh - 346px);
      }
    }
  }

  .pendingTable tbody tr,
  .pendingTable thead tr {
    display: flex;
  }

  .pendingTable {
    td,
    th {
      flex: 1;
      text-align: left;
      min-width: 100px;
      display: flex;
      align-items: center;
    }

    &.arabic {
      td,
      th {
        min-width: 110px;
      }
    }
  }
}

.pendingTabTableHead {
  .pendingTabTableRow,
  .MuiTableCell-root {
    font-weight: bold;
    color: var(--textLight);
    cursor: pointer;
    background-color: var(--secondaryBackground);

    .PendingTabShortLabel {
      color: var(--textLight);

      @media (min-width: "1200px") {
        text-wrap: nowrap;
      }
      // text-wrap: nowrap;
      > svg {
        fill: var(--selected);
      }
    }
  }
}

.pendingTabArrowIcon {
  color: var(--selected);
  vertical-align: middle;
}

.pendingTabTableRowHover:hover {
  background-color: var(--hoverEffect);
  cursor: pointer;
}

.pendingTabTableRowHoverInherited {
  cursor: default;

  .MuiTableCell-root {
    padding-block: 11px;
  }
}

.pendingTabReleaseButton {
  text-wrap: nowrap;

  @media (max-width: 1023px) {
    text-wrap: balance;
  }
}

.MuiPaper-root.warning {
  @media (max-width: 406px) {
    font-size: 12px;

    > .MuiAlert-message {
      align-self: flex-end;
    }
  }
}
