@import url("../../style-variables.css");
.workflowContainer {
  padding: 1rem ; 
}

.gridItem {
  width: 100%;
}

.card {
  cursor: pointer;
  transition: 0.3s ;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--secondaryBackground) !important;
  border: 0.0625rem solid #d7ccc8 !important;
  border-radius: 1rem !important;
}

.card:hover {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.cardTitle {
  font-size: 1.25rem !important;
  overflow: hidden;
  color: var(--selected);
  font-weight: bolder !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 3rem; 
  max-height: 3rem;
  word-wrap: break-word;
}

.cardDescription {
  font-size: 1rem !important;
  color: var(--textLight);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  line-height: 1.2rem !important; 
  min-height: 3.6rem; 
  max-height: 3.6rem;
}



@media (max-width: 960px) {

  .cardTitle {
    font-size: 1rem !important;
    font-weight: bolder;
    min-height: 2rem; 
    max-height: 2rem;
  }

  .cardDescription{
    font-size: 0.85rem !important;
  }
}