/* .wizardContainer {
  padding: 20px 0;
} */

.formContainer {
  padding: 15px 10px;
  flex: 1 1 auto;
  overflow-y: auto;
  max-height: calc(100vh - 420px);
}

.stepper {
  overflow: auto;
  margin-bottom: 10px;
}

.wizardFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex: 0 0 auto;
  margin-top: 16px;
  text-align: right;
}

.wizardBtn {
  z-index: 9;
}

.btnRotate {
  rotate: 180deg;
  transform: 0.3s ease;
}

@media (max-width: 899px) {
  .formContainer {
    /* max-height: calc(75vh - 300px); */
    max-height: calc(100vh - 467px);
    /* height: calc(100vh - 471px); */
    /* height: calc(75vh - 285px); */
  }
}
