:root {
  --primaryBackground: #03273c;
  --secondaryBackground: #244b62;
  --selected: #fdc403;
  --textDark: #a9a9a9;
  --textLight: #fffff7;
  --hoverEffect: #f5f5f5;
  --error: #d32f2f;

  --lightSecondaryBg: #508bad;
}
